################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CopilotSnapshots/0879E3E1A7B5754C90724D1195DD4383/390CF01FA3CF7E40AB6F5B6140BF6992/BE6CC15E04B8E7CDE36877ECB82AEFD0
