<?xml version="1.0"?>
<unity>
  <typeAliases>
    <typeAlias alias="Singleton" type="Microsoft.Practices.Unity.ContainerControlledLifetimeManager, Microsoft.Practices.Unity"/>

    <!--Repository < --><!--
    <typeAlias alias="NewsRepository" type="Infrastructure.DAL.NewsRepository, Infrastructure.DAL"/>
    <typeAlias alias="INewsRepository" type="DomainInterface.INewsRepository, DomainInterface"/>
    --><!--Repository > -->

    <!--Page Repository < --><!--
    <typeAlias alias="NextPagesRepository" type="Infrastructure.DAL.NextPagesRepository, Infrastructure.DAL"/>
    <typeAlias alias="INextPagesRepository" type="DomainInterface.INextPagesRepository, DomainInterface"/>
    --><!--Repository > -->

    <!--Poll Repository < --><!--
    <typeAlias alias="PollRepository" type="Infrastructure.DAL.PollRepository, Infrastructure.DAL"/>
    <typeAlias alias="IPollRepository" type="DomainInterface.IPollRepository, DomainInterface"/>
    --><!--Repository > -->

    <!--Poll Repository < -->
    <!--<typeAlias alias="AdminRepository" type="Infrastructure.DAL.AdminRepository, Infrastructure.DAL"/>
    <typeAlias alias="IAdminRepository" type="DomainInterface.IAdminRepository, DomainInterface"/>-->
    <!--Repository > -->
   
    <!--Poll Repository < --><!--
    <typeAlias alias="SurveyRepository" type="Infrastructure.DAL.SurveyRepository, Infrastructure.DAL"/>
    <typeAlias alias="ISurveyRepository" type="DomainInterface.ISurveyRepository, DomainInterface"/>
    --><!--Repository > -->

    <!--individuals Repository < --><!--
    <typeAlias alias="individualsRepository" type="Infrastructure.DAL.individualsRepository, Infrastructure.DAL"/>
    <typeAlias alias="IindividualsRepository" type="DomainInterface.IindividualsRepository, DomainInterface"/>
    --><!--Repository > --><!--

    --><!--Suggestion Repository < --><!--
    <typeAlias alias="SuggestionRepository" type="Infrastructure.DAL.SuggestionRepository, Infrastructure.DAL"/>
    <typeAlias alias="ISuggestionRepository" type="DomainInterface.ISuggestionRepository, DomainInterface"/>
    --><!--Repository > --><!--

    --><!--Contact_US Repository < --><!--
    <typeAlias alias="Contact_USRepository" type="Infrastructure.DAL.Contact_USRepository, Infrastructure.DAL"/>
    <typeAlias alias="IContact_USRepository" type="DomainInterface.IContact_USRepository, DomainInterface"/>
    --><!--Repository > -->

    <!--Permission Repository < -->
    <typeAlias alias="PermissionRepository" type="Permission.DAL.PermissionRepository, Permission.DAL"/>
    <typeAlias alias="IPermissionRepository" type="DomainInterface.IPermissionRepository, DomainInterface"/>
    <!--Repository > -->


  </typeAliases>
  <containers>
    <container>
      <types>
        <!--<type type="INewsRepository" mapTo="NewsRepository">
          <lifetime type="Singleton"/>
        </type>
        <type type="INextPagesRepository" mapTo="NextPagesRepository">
          <lifetime type="Singleton"/>
        </type>
        <type type="IPollRepository" mapTo="PollRepository">
          <lifetime type="Singleton"/>
        </type>-->
        <!--<type type="IAdminRepository" mapTo="AdminRepository">
          <lifetime type="Singleton"/>
        </type>-->
        <!--<type type="ISurveyRepository" mapTo="SurveyRepository">
          <lifetime type="Singleton"/>
        </type>
        <type type="IindividualsRepository" mapTo="individualsRepository">
          <lifetime type="Singleton"/>
        </type>
        <type type="ISuggestionRepository" mapTo="SuggestionRepository">
          <lifetime type="Singleton"/>
        </type>
        <type type="IContact_USRepository" mapTo="Contact_USRepository">
          <lifetime type="Singleton"/>
        </type>-->
        <!--<type type="IPermissionRepository" mapTo="PermissionRepository">
          <lifetime type="Singleton"/>
        </type>-->
      </types>
    </container>
  </containers>
</unity>