<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration, Version =1.2.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="false" />
    <!--<sectionGroup name="nwebsec">
      -->
    <!-- For information on how to configure NWebsec please visit: https://docs.nwebsec.com/ -->
    <!--
      <section name="httpHeaderSecurityModule" type="NWebsec.Modules.Configuration.HttpHeaderSecurityConfigurationSection, NWebsec, Version=4.2.0.0, Culture=neutral, PublicKeyToken=3613da5f958908a1" requirePermission="false"/>
    </sectionGroup>-->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <clear />
    <add key="dependencyResolverTypeName" value="Infrastructure.EnterpriseLibrary.UnityDependencyResolver, Infrastructure.EnterpriseLibrary" />
    <add key="resourcesURL" value="/Layout/RTL/" />
    <add key="ScanningModuleURL" value="https://smartscannerDev/doscan.aspx" />
    <add key="ScannerRepositoryViewer" value="https://smartscannerDev/pfdDocViewer.aspx" />
    <!--<add key="ScannerRepository" value="E:\T460_WorkSpace\ScanningModule\SmartScanner_V03\SmartScanner_V03\"/>-->
    <!--<add key="ScannerRepository" value="\\ScannerRepository\\"/>
    <add key="legalRepository" value="\LegalPortal\"/>-->
    <add key="ScannerRepository" value="\\FILESERVER" />
    <add key="legalRepository" value="\\LegalSystem$\\" />
    <add key="systemprofile" value="0,0,0,#2#5#0,1#" />
    <!--ShowUI,ADF,Duplex,#{BW=1}{Gray=2}{RGB=3}#{imgTypebmp=1}{imgTypejpeg=2}{imgTypetiff=3}{imgTypepng=4}{imgTypepdf=5}#MultiPageTIFF,MultiPagePDF#source-->
  </appSettings>
  <connectionStrings>

	<add name="CMGS_SECDBEntities" connectionString="metadata=res://*/Repository.CMGS_SecDB.csdl|res://*/Repository.CMGS_SecDB.ssdl|res://*/Repository.CMGS_SecDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.30.3.65,1435;initial catalog=CMGS_DB;user id=sqldeviis;password=Abcd@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="sqlConnLogger" connectionString="metadata=res://*/Model.CMGS_DB.csdl|res://*/Model.CMGS_DB.ssdl|res://*/Model.CMGS_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.30.3.65,1435;initial catalog=CMGS_DB;user id=sqldeviis;password=Abcd@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CMGS_DBEntities" connectionString="metadata=res://*/Model.CMGS_DB.csdl|res://*/Model.CMGS_DB.ssdl|res://*/Model.CMGS_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.30.3.65,1435;initial catalog=CMGS_DB;user id=sqldeviis;password=Abcd@1234;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="CMGS_DBConnectionString" connectionString="Data Source=172.30.3.65,1435;Initial Catalog=CMGS_DB;User ID=sqldeviis;Password=Abcd@1234;MultipleActiveResultSets=True;TrustServerCertificate=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />

	  <!--
	  <add name="CMGS_SECDBEntities" connectionString="metadata=res://*/Repository.CMGS_SecDB.csdl|res://*/Repository.CMGS_SecDB.ssdl|res://*/Repository.CMGS_SecDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqlag09;initial catalog=CMGS_DB;user id=assets;password=P@ssxx1122;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="sqlConnLogger" connectionString="metadata=res://*/Model.CMGS_DB.csdl|res://*/Model.CMGS_DB.ssdl|res://*/Model.CMGS_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqlag09;initial catalog=CMGS_DB;user id=assets;password=P@ssxx1122;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="CMGS_DBEntities" connectionString="metadata=res://*/Model.CMGS_DB.csdl|res://*/Model.CMGS_DB.ssdl|res://*/Model.CMGS_DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sqlag09;initial catalog=CMGS_DB;user id=assets;password=P@ssxx1122;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	  <add name="CMGS_DBConnectionString" connectionString="Data Source=sqlag09;Initial Catalog=CMGS_DB;User ID=assets;Password=P@ssxx1122;MultipleActiveResultSets=True;TrustServerCertificate=True;Application Name=EntityFramework" providerName="System.Data.SqlClient" />-->
 


  </connectionStrings>
  <!-- Unity Configuration File-->
  <unity configSource="Unity.config" />
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" defaultRedirect="/error/internalservererror.html" />
    <httpRuntime maxRequestLength="512000" executionTimeout="275" enableVersionHeader="false" requestValidationMode="2.0" />
    <!--<compilation debug="true"/>-->
    <authentication mode="Windows" />
    <!--<siteMap defaultProvider="WebMap" enabled="true">
      <providers>
        <add name="AdminSiteMap" description="SiteMap provider which reads in .sitemap XML files." type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="admin\SiteMapXML\AdminSiteMap.sitemap" securityTrimmingEnabled="true"/>
        <add name="SuperAdminSiteMap" description="SiteMap provider which reads in .sitemap XML files." type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="admin\SiteMapXML\SuperAdminSiteMap.sitemap" securityTrimmingEnabled="true"/>
        <add name="WebMap" description="SiteMap provider which reads in .sitemap XML files." type="System.Web.XmlSiteMapProvider, System.Web, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" siteMapFile="Masters\WebMap.sitemap" securityTrimmingEnabled="true"/>
      </providers>
    </siteMap>-->
    <pages enableEventValidation="false" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add namespace="AjaxControlToolkit" assembly="AjaxControlToolkit" tagPrefix="ajaxToolkit" />
      </controls>
    </pages>
    <httpModules>
      <add name="Localization" type="Culture.Core.LocalizationHttpModule, Culture.Core" />
    </httpModules>
    <!--<globalization uiCulture="en" culture="en-US"/>-->
    <globalization fileEncoding="windows-1256" requestEncoding="windows-1256" responseEncoding="windows-1256" culture="ar-EG" uiCulture="ar-EG" />
    <compilation targetFramework="4.8" debug="true">
      <assemblies>
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ServiceModel.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Services.Client, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Services.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <httpHandlers>
      <!--<add verb="*" path="*.flv" type="FLVStreaming"/>-->
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <webServices>
      <protocols>
        <!--<add name="HttpSoap"/>
        <add name="HttpGet"/>
        <add name="HttpPost"/>-->
      </protocols>
    </webServices>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <!--<add value="/admin/pages/login.aspx"/>-->
      </files>
    </defaultDocument>
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=14.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <modules>
      <add name="Localization" type="Culture.Core.LocalizationHttpModule, Culture.Core" />
      <!--<add name="NWebsecHttpHeaderSecurityModule" type="NWebsec.Modules.HttpHeaderSecurityModule, NWebsec, Version=4.2.0.0, Culture=neutral, PublicKeyToken=3613da5f958908a1"/>-->
    </modules>
    <staticContent>
      <mimeMap fileExtension=".plist" mimeType="text/xml" />
      <mimeMap fileExtension=".ipa" mimeType="application/octet-stream" />
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <!-- .json - IIS does not have a JSON MIME type by default. -->
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <!-- .rss - IIS does not have a RSS MIME type by default. Add the optional charset to the RSS MIME type. See http://www.rssboard.org/rss-mime-type-application.txt. -->
      <remove fileExtension=".rss" />
      <mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8" />
      <!-- .html - Add the optional charset to the HTML MIME type. -->
      <remove fileExtension=".html" />
      <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
      <!-- .xml - Add the optional charset to the XML MIME type. -->
      <remove fileExtension=".xml" />
      <mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8" />
      <!-- HTML5 Video - IIS 7.5 and below does not have these MIME types by default. -->
      <remove fileExtension=".mp4" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <remove fileExtension=".m4v" />
      <mimeMap fileExtension=".m4v" mimeType="video/m4v" />
      <remove fileExtension=".ogg" />
      <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
      <remove fileExtension=".ogv" />
      <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
      <remove fileExtension=".webm" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
      <!-- HTML5 Audio - IIS 7.5 and below does not have these MIME types by default. -->
      <remove fileExtension=".oga" />
      <mimeMap fileExtension=".oga" mimeType="audio/ogg" />
      <remove fileExtension=".spx" />
      <mimeMap fileExtension=".spx" mimeType="audio/ogg" />
      <!-- .svgz - IIS 7.5 does not have a compressed SVG MIME type by default. -->
      <remove fileExtension=".svgz" />
      <mimeMap fileExtension=".svgz" mimeType="image/svg+xml" />
      <!-- Web Fonts -->
      <!-- .eot - Served as application/octet-stream. Use the correct MIME type of application/vnd.ms-fontobject. -->
      <remove fileExtension=".eot" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <!-- .ttf - Served as application/octet-stream. Use the correct MIME type of application/application/x-font-ttf. -->
      <remove fileExtension=".ttf" />
      <mimeMap fileExtension=".ttf" mimeType="application/x-font-ttf" />
      <!-- .ttc - IIS does not have a TTC MIME type by default. -->
      <remove fileExtension=".ttc" />
      <mimeMap fileExtension=".ttc" mimeType="application/x-font-ttf" />
      <!-- .otf - IIS does not have a OTF MIME type by default. -->
      <remove fileExtension=".otf" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <!-- .woff - Served as font/woff. Use the correct MIME type of application/font-woff. -->
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
      <!-- .woff2 - IIS does not have a WOFF2 MIME type by default. -->
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />
      <!-- .webp - IIS does not have a WEBP MIME type by default. -->
      <remove fileExtension=".webp" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <!-- .appcache - IIS does not have a appcache MIME type by default. -->
      <remove fileExtension=".appcache" />
      <mimeMap fileExtension=".appcache" mimeType="text/cache-manifest" />
      <!-- .manifest - IIS does not have a manifest MIME type by default. -->
      <remove fileExtension=".manifest" />
      <mimeMap fileExtension=".manifest" mimeType="text/cache-manifest" />
    </staticContent>
    <httpErrors errorMode="Custom" existingResponse="PassThrough">
      <!-- Redirect IIS 400 Bad Request responses to the error controllers bad request action. -->
      <remove statusCode="400" />
      <error statusCode="400" responseMode="ExecuteURL" path="/error/badrequest.html" />
      <!-- Redirect IIS 401 Unauthorized responses to the error controllers unauthorized action. -->
      <remove statusCode="401" />
      <error statusCode="401" responseMode="ExecuteURL" path="/error/unauthorized.html" />
      <remove statusCode="403" />
      <!-- Redirect IIS 403.14 Forbidden responses to the error controllers not found action.
           A 403.14 happens when navigating to an empty folder like /Content and directory browsing is turned off
           See http://www.troyhunt.com/2014/09/solving-tyranny-of-http-403-responses.html -->
      <error statusCode="403" subStatusCode="14" responseMode="ExecuteURL" path="/error/notfound.html" />
      <!-- Redirect IIS 403.501 and 403.502 Forbidden responses to a static Forbidden page.
           This happens when someone tries to carry out a Denial of Service (DoS) attack on your site.
           See http://www.iis.net/learn/get-started/whats-new-in-iis-8/iis-80-dynamic-ip-address-restrictions -->
      <error statusCode="403" subStatusCode="501" responseMode="File" path="error\forbidden.html" />
      <error statusCode="403" subStatusCode="502" responseMode="File" path="error\forbidden.html" />
      <!-- Redirect IIS 403 Forbidden responses to the error controllers forbidden action. -->
      <error statusCode="403" responseMode="ExecuteURL" path="/error/forbidden.html" />
      <!-- Redirect IIS 404 Not Found responses to the error controllers not found action. -->
      <remove statusCode="404" />
      <error statusCode="404" responseMode="ExecuteURL" path="/error/notfound.html" />
      <!-- Redirect IIS 405 Method Not Allowed responses to the error controllers method not allowed action. -->
      <remove statusCode="405" />
      <error statusCode="405" responseMode="ExecuteURL" path="/error/methodnotallowed.html" />
      <remove statusCode="500" />
      <!-- Redirect IIS 500.13 Internal Server Error responses to a static Service Unavailable page.
           A 500.13 occurs because the web server is too busy. The amount of traffic exceeds the Web site's configured capacity. -->
      <error statusCode="500" subStatusCode="13" responseMode="File" path="error\serviceunavailable.html" />
      <!-- Redirect IIS 500 Internal Server Error responses to the error controllers internal server error action. -->
      <error statusCode="500" responseMode="ExecuteURL" path="/error/internalservererror.html" />
      <!-- Redirect IIS 503 Service Unavailable responses to a static Service Unavailable page. -->
      <remove statusCode="503" />
      <error statusCode="503" responseMode="File" path="error\serviceunavailable.html" />
      <!-- Redirect IIS 504 Gateway Timeout responses to a static Gateway Timeout page. -->
      <remove statusCode="504" />
      <error statusCode="504" responseMode="File" path="error\gatewaytimeout.html" />
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <clear />
      </customHeaders>
    </httpProtocol>
    <security>
      <requestFiltering>
        <!--<hiddenSegments>
          <add segment="NWebsecConfig"/>
        </hiddenSegments>-->
        <requestLimits maxAllowedContentLength="300000000" />
      </requestFiltering>
    </security>
  </system.webServer>
  <!--<nwebsec>
    <httpHeaderSecurityModule xsi:noNamespaceSchemaLocation="NWebsecConfig/HttpHeaderSecurityModuleConfig.xsd" xmlns="http://nwebsec.com/HttpHeaderSecurityModuleConfig.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <redirectValidation enabled="false">
        <allowSameHostRedirectsToHttps enabled="false" httpsPorts="8443,443"/>
        <add allowedDestination="http://www.nwebsec.com/"/>
      </redirectValidation>
      <setNoCacheHttpHeaders enabled="false"/>
      <x-Robots-Tag enabled="false" noIndex="false" noFollow="false" noArchive="false" noOdp="false" noSnippet="false" noImageIndex="false" noTranslate="false"/>
      <securityHttpHeaders>
        <x-Frame-Options policy="SameOrigin"/>
        <strict-Transport-Security max-age="365" includeSubdomains="true" httpsOnly="false" preload="false"/>
        -->
  <!--<public-Key-Pins max-age="00:00:10">
          <certificates>
            <add thumbprint="cert thumbprint" storeName="Root" />
          </certificates>
          <pins>
            <add pin="Base64 pin"/>
          </pins>
        </public-Key-Pins>-->
  <!--
        <x-Content-Type-Options enabled="true"/>
        <x-Download-Options enabled="true"/>
        <x-XSS-Protection policy="FilterEnabled" blockMode="true"/>
        <content-Security-Policy enabled="true">
          -->
  <!--<upgrade-insecure-requests enabled="true"  />-->
  <!--
          <default-src self="true"/>
          <script-src unsafeInline="true" unsafeEval="true" self="true">
            <add source="localhost:*"/>
            -->
  <!--<add source="gdb.cmgs.gov.kw"/>
            <add source="gdb.cmgs.gov.kw/TRKPI"/>
            <add source="cdnjs.cloudflare.com"/>
            <add source="ajax.aspnetcdn.com"/>
            <add source="ajax.googleapis.com"/>-->
  <!--
            -->
  <!--<add source="http://localhost:17170/Layout/Assets/zebra-dialog/public/javascript/"/>-->
  <!--
            <add source="internet-shk.kgac.gov.kw/"/>
            <add source="https://maps.google.com"/>
            <add source="https://maps.googleapis.com"/>
            <add source="https://csi.gstatic.com/csi"/>
          </script-src>
          <style-src unsafeInline="true" self="true">
            <add source="localhost:*"/>
            <add source="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/"/>
            <add source="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900"/>
            -->
  <!--<add source="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,500,600,700"/>-->
  <!--
            <add source="internet-shk.kgac.gov.kw/"/>
            <add source="maxcdn.bootstrapcdn.com"/>
            <add source="fonts.googleapis.com"/>
            <add source="cdnjs.cloudflare.com"/>
            <add source="code.ionicframework.com/ionicons/2.0.1/css/"/>
          </style-src>
          <img-src self="true">
            <add source="localhost:*"/>
            <add source="https://*.googleapis.com"/>
            <add source="https://*.gstatic.com"/>
            <add source="https://maps.google.com"/>
          </img-src>
          <object-src self="true"/>
          <media-src self="true"/>
          <font-src self="true">
            <add source="localhost:*"/>
            <add source="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/"/>
            <add source="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/"/>
            <add source="https://fonts.gstatic.com/s/roboto/v15/"/>
            <add source="http://fonts.gstatic.com/s/opensans/v13/"/>
            <add source="https://fonts.gstatic.com/s/sourcesanspro/v9/"/>
            <add source="gdb.cmgs.gov.kw"/>
            <add source="cdnjs.cloudflare.com/*"/>
            <add source="fonts.googleapis.com/*"/>
            <add source="fonts.gstatic.com"/>
            <add source="code.ionicframework.com"/>
            <add source="maxcdn.bootstrapcdn.com"/>
            <add source="themes.googleusercontent.com"/>
          </font-src>
          <connect-src self="true">
            <add source="localhost:*"/>
          </connect-src>
          <frame-ancestors self="true"/>
          <base-uri self="true"/>
          <child-src self="true"/>
          <form-action self="true"/>
          <report-uri enableBuiltinHandler="true"/>
        </content-Security-Policy>
      </securityHttpHeaders>
    </httpHeaderSecurityModule>
  </nwebsec>-->
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EnvDTE" publicKeyToken="B03F5F7F11D50A3A" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.ProcessingObjectModel" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.4.0" newVersion="4.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.3.0" newVersion="6.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.5.0" newVersion="4.0.5.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.3" newVersion="10.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.3" newVersion="10.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.3" newVersion="10.0.0.3" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.2" newVersion="8.0.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Encodings.Web" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.3" newVersion="10.0.0.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: {C1E379C6-F045-4BD5-BA59-5293E8E2CD16}-->